/* Style for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1001; /* Above other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Black with opacity */
}

/* Modal content box */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

/* Style for the modal */
.noticemodal {
    display: block; /* Hidden by default */
    position: fixed;
    z-index: 1001; /* Above other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Black with opacity */
}

/* Modal content box */
.Nmodal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

/* Credit modal */
.popup-container .modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.popup-container .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.popup-container .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.popup-container .close-btn:hover,
.popup-container .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Notice modal(basically popup but alr there */
.notice-container .noticemodal {
    display: block;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.notice-container .Nmodal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}
.notice-container .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.notice-container .close-btn:hover,
.notice-container .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}









.Pfooter {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    
}
.Pprofile {
    display: flex;
    align-items: center;
}
.Pprofile img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.Picons{
    margin-top: 10px;
}
.Picons a {
    margin: 5px;
    text-decoration: none;
}
.Picons img {
    height: 40px;
}

header {
    font-size: 36px; /* Makes the text larger */
    font-weight: bold; /* Makes the text bold */
    margin-bottom: 20px;
    margin-left: 35px;
}